  <div class="container">
    <div class="row"><br>
      <h1 class="col-md-6">Find shows</h1>
          <form>
      <div class="input-group">
        <input type="search" class="form-control">
        <span class="input-group-btn">
          <button
            class="btn btn-primary"
            type="submit">
            Search
           </button>
        </span>
      </div>
    </form>
    </div>
    <br>

    <!-- Loader -->
    <div class="loader" *ngIf="isLoading"></div>

    <!-- Error Message -->
    <div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>

    <!-- No shows found -->
    <div class="alert alert-danger"
            [hidden]="!errorMessage && (!shows || shows.length > 0)">
          No TV shows found with this name
    </div>

    <!-- Show table -->
    <table class="table table-bordered table-hover table-fixed-header">
      <thead>
        <tr>
          <th class="text-center">Name</th>
          <th class="text-center">Image</th>
          <th class="text-center">Network</th>
          <th class="text-center">Summary</th>
          <th class="text-center">Status</th>
        </tr>
      </thead>
        <tbody>
        <tr>
          <td>
            <h5>

              </h5>
            </td>
          <td>
            <img>
          </td>
          <td> </td>
          <!-- get back HTML, so need to bind to innerHtml -->
          <td></td>
          <td>
            <h5>
            <span>

             </span>
             </h5>
          </td>
        </tr>
      </tbody>
    </table>
</div>