<nav class="navbar navbar-light bg-faded">
  <button class="navbar-toggler hidden-lg-up"
                 type="button"
                 data-toggle="collapse"
                 data-target="#navbarResponsive"
                 aria-controls="navbarResponsive"
                 aria-expanded="false"
                 aria-label="Toggle navigation">
  </button>
  <div class="collapse navbar-toggleable-xs" id="navbarResponsive">
    <a class="navbar-brand" [routerLink]="['/']">{{ appName }}</a>
    <ul class="nav navbar-nav">
       <li class="nav-item" *ngFor="let navItem of navItems">
        <a class="nav-link"
              [ngClass]="{active: navItem.active}"
              [routerLink]="navItem.routerLink">{{ navItem.label }}
            <span class="sr-only" *ngIf="navItem.active">(current)</span>
        </a>
      </li>
    </ul>
    <tv-search-bar></tv-search-bar>
  </div>
</nav>