<footer class="footer text-muted text-xs-center text-md-left bg-inverse">
    <div class="container">
    <ul class="footer-links">
      <li>Visit us at: <a target ="_blank" href="http://jswiz.net">JsWiz.net</a></li>
      <li><a href="#">Terms</a></li>
      <li>This site uses the<a target="_blank" href="http://www.tvmaze.com/api"> TvMaze API</a></li>
    </ul>
    <p> &copy;JsWiz 2017 - All rights reserved.</p>
  </div>
</footer>