<div class="container">
  <section class="featured-shows" id="shows">
    <br>
    <h2>Featured Shows</h2>
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let show of shows">
          <tv-show-details [show]="show"></tv-show-details>
        </div>
      </div>
  </section>
</div>